<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<nav class="navbar">
    <div class="logo">Logo</div>
     <img src="C:/Users/ASUS/Desktop/webDev project/e-commerce_project/store-front/src/assets/imaages/weblogo.png" alt="logo">
    <div class="nav-links">
      <a routerLink="/men" routerLinkActive="active">Men</a>  
      <a routerLink="/women" routerLinkActive="active">Women</a>
      <a routerLink="/feet" routerLinkActive="active">On Your Feet</a>
      <a routerLink="/brands" routerLinkActive="active">Brands</a>
    </div>
    <div class="actions">
      <button class="icon-button" (click)="toggleSearch()">
        <!-- <span class="icon">search icon</span> -->
        <i class="fas fa-shopping-cart custom-size"></i>
      </button>
      <button class="icon-button">
        <!-- <span class="icon">whatsapp icon</span> -->
        <i class="fab fa-whatsapp custom-size"></i>
      </button>
    </div>
</nav>